.container{
	margin-top: 70px;
}

#habilidades{
	background-color: #00AAFF;
	color: white;
	padding: 15px;
}

#trabajo{
	background-color: #FFD396;
	color: brown;
	padding: 15px;
}

#estudio{
	background-color: #557CE8;
	color: white;
	padding: 15px;
}

.row{
	margin-top: 25px !important;
}

img{
	width: 90%;
	height: 100%;
}

body { padding-top: 20px; }

section {
	padding-top: 50px;
	padding-bottom: 50px;
}
